body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.start {
	margin: 10px;
	width: 80px;
}

.semi {
	color: white;
}

.default {
	background-color: blue;
}

h1,
h3,
.calNota,
.conversor {
	text-align: center;
}

.calNota {
	margin: auto;
	padding: 22px 22px 22px 22px;
	width: 50%;
	color: white;
	border-radius: 5px;
	background: #282e33;
	border-top: 3px solid #434a52;
	border-bottom: 3px solid #434a52;
}

.totalizar,
.start {
	background: #235bd5;
	border: 0;
	margin-bottom: 50px;
	width: 100px;
	height: 40px;
	border-radius: 3px;
	color: rgba(15, 15, 15, 0.87);
	cursor: pointer;
	transition: background 0.3s ease-in-out;
}

.cantidadNotas,
#notas {
	background-color: white#3b4148;
	border-radius: 0px 3px 3px 0px;
	color: #a9a9a9;
	margin-bottom: 1em;
	padding: 0 16px;
	width: 60px;
	height: 40px;
	text-align: center;
}

.aprobado {
	color: #16b911;
}

.reprobado {
	color: red;
}